#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    transition: opacity 0.6s ease;
    opacity: 0;
}

.dialog {
    /* display: none; */
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    background-color: #f0f0f0;
    border: 3px solid #000;
    border-radius: 10px;
    border-color: white;
    z-index: 1003;
}

.button.momButtonS {
    border: 2px dashed #70040413;
    z-index: 1001;
}
.button.momButtonS.mom1 {
    top: 455px;
    left: 516px;
    padding: 22px 73px;
    rotate: -16deg;
    border-radius: 20px;
}
.button.momButtonS.mom2 {
    top: 448px;
    left: 447px;
    padding: 21px 44px;
    rotate: 4deg;
    border-radius: 14px;
}
.button.momButtonS.mom3 {
    top: 448px;
    left: 497px;
    padding: 32px 27px;
    rotate: -34deg;
    border-radius: 49px;
}

.button.hideButtonS{
    border: 2px dashed #ff000059;
    z-index: 1001;
}
.button.hideButtonS.closet {
    top: 166px;
    left: 53.5px;
    padding: 113px 61px;
}
.button.hideButtonS.bed {
    top: 269px;
    left: 177.5px;
    padding: 65px 104px;
}